src/main/mule/global/travelontip-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontip-externalsystemFlow" doc:id="da2224db-88ed-4ee9-9af0-ec596f59fd13" >
		<http:listener doc:name="Listener" doc:id="a88e385d-a94f-44ad-bbf1-187470e5b0e7" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="cb8945b9-ea02-4e7a-a3b2-3576e1543af7">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="serviceType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="60ec48a7-d9df-45d9-8c07-3f9319a514de" message="Request Received For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="e54e8022-3192-41fb-9a9c-ba4124e809cb" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="50d97615-2c7f-4a6d-97db-81ccc37228f5" message="Route Flow Called For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="23efaf76-c053-4baf-b6b2-6f21b52a613d" name="TravelOnTip-GetRoutes-implementationFlow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="9e371915-5b6f-4ce4-b94a-84275521823e" message="Schedule Flow Called For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="0a00c6fc-5559-4e2a-82c9-0f6a67628964" name="TravelOnTip-GetSchedules-implementationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a4495305-d7b9-48c4-b938-09991619e4b8" message="URI Parameter Is Not Correct For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="38ec1889-589e-427a-87c0-dafa4dd4f0c3" message="Response Sent For TravelOnTip External System For TransactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9ff2ac5a-5982-4e1f-a4d2-3d4fbc321a25" >
				<logger level="INFO" doc:name="Logger" doc:id="f63b2450-6eb8-4b80-ae20-b5d2c2dd4e60" message="Error Occcured for TravelOnTip External System For TransactionId: #[vars.transactionId] reason : #[error.errorMessage] error Type: #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="0781eebc-9cfe-4836-84a4-5e20fb9328c3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE1023",
	"ErrorMessage": "Error in TravelOnTip System"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
